.tinder {
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  padding: 30px;
  flex-direction: column;
  position: relative;
  perspective: 1000px; /* Add perspective to create the bending effect */
}

.tinderCard.moving {
  transition: none; /* Disable transition while moving to make the swipe feel responsive */
}

.tinderCard img {
  max-width: 100%;
  height: auto;
  pointer-events: none; /* Ensure image doesn't block the swipe */
}

.tinderCard h3,
.tinderCard p {
  margin: 16px;
  text-align: center;
  pointer-events: none; /* Ensure text doesn't block the swipe */
}

.tinderCard {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.tinderCard .heart-icon,
.tinderCard .cross-icon {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0) scale(0.5); /* Initially scaled down */
  font-size: 100px;
  opacity: 0; /* Icons are hidden initially */
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 10; /* Ensure icons are on top of everything */
}

.heart-icon {
  color: red;
}

.cross-icon {
  color: black;
}
